.page {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.red_area {
    border: 1px solid black;
    height: 70%;
    width: 70%;
    background-color: red;
    position: fixed;
    z-index: 1;
}

.green_area {
    border: 1px solid black;
    background-color: green;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    position: fixed;
    z-index: 3;
}

.blue_area {
    border: 1px solid black;
    background-color: blue;
    height: 100%;
    width: 100%;
    top: 30%;
    left: 30%;
    position: fixed;
    z-index: 2;
}